<ul><h2>Users Overview</h2>
    <p>To see their existing goals click on the link</p>
        <table>
            <tr><th>Name</th><th>Points</th></tr>
            <%= render(@users) || "There are no users yet." %>
        </table>

</ul>
