<h1>Add Goals</h1>
<table>
    <%@activities.each do |activity|%>
        <tr><td><%= button_to "Add Goal", user_achievements_path(@user), params: {"achievement[user_id]" => @user.id, "achievement[activity_id]" => activity.id} %></td><td><%= "#{activity.name}: #{activity.points} points" %></td></tr>
    <%end%>
</table>
