<h2>Create New Activity</h2>
<p><%= flash[:alert]  if flash[:alert] %></p>
<%= render "form", activity: @activity %>
<h2>List of all Activities</h2>
 
<ul>
    <% @activities.each do |activity| %>
        <li> <%= link_to activity.name + " " + activity.points.to_s, edit_activity_path(activity) %> </li>
    <% end %>
</ul>